<h1>Quiz App</h1>

<h3>Create a Question:</h3>

<form action="">
    <label for="question">Type your Question:</label>
    <input type="text" name="question" id="question"><br>
    <label for="answer">Type the Answer:</label>
    <input type="text" name="answer" id="answer"><br>
    <button id="add-question">Add Question</button>
</form>

<button id="see-all-questions">See All Questions and Answers</button>